body{
    background-color: #3C3C3C;
    color: #FFFFFF;
}

#header, #content, #footer {
    width: 50%;
    margin: 0 auto; /* Centraliza a div */
}

#header { 
    height: 150px;
    background: 
        url("img/logo-if.png"),
        linear-gradient(#17882c 1%, #00510f 100%);
    background-repeat: no-repeat;
    background-position: left;
}

#header h1 {
    text-align: center;
    padding: 65px 0 0 200px;
}

#content {
    min-height: 30%;
}

#content #left {
    float: left;
    width: 29%;
    padding-right: 8px;
}

#lista-links {
    list-style: none; /* Tira as bolinhas da lista */
    padding: 0;
}

#lista-links li {
    height: 30px;
    padding: 5px;
}

#lista-links a {
    height: 30px;
    font-size: 18px;
    text-decoration: none;
    color: #2c66ce;
    display: block;
}

#lista-links a:hover, #lista-links .active {
    color: #99bdff;
    text-decoration: underline;
}

#content #right {
    float: right;
    width: 69%;
}

#content #right p {
    text-align: justify;
    text-indent: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

#footer {
    clear: both;
    background: linear-gradient(#17882c 1%, #00510f 100%);
    padding: 5px 0;
}

#footer p {
    text-align: center;
    font-size: 14px;
}