html {
    font-family: Arial, Helvetica, sans-serif;
}

#titulo {
    font-size: 50px;
    margin: 20px 20px;
}

#header {
    margin: 150px 300px;
    border: 2px solid black;
}

#conteudo {
    margin: 150px 300px;
    border: 2px solid black;
}

.form-inline {
    display: flex;
    align-items: center;
}

#titulo_nav {
    margin-left: 30px;
}

.nav-link {
    margin-right: 10px !important;
}