#div-tema {
  width: 40%;
  margin-left: 30%;
  margin-top: 40px;
  border: 2px solid black;
  padding: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.tema-claro {
  background-color: #ffffff;
  color: #212529;
}

.tema-escuro {
  background-color: #212529;
  color: #ffffff;
}

#div-contador {
  width: 40%;
  margin-left: 30%;
  margin-top: 40px;
  border: 2px solid black;
}

#btn_alternar,
#btn_decrementar,
#btn_resetar {
  margin: 10px;
}

